
.header_language {
    padding: 4px 72px;
    background: #E0E0E0;
}
.language_select {
    display: flex;
    width: 100%;
    max-width: 160px;
    align-items: center;
    justify-content: space-around;
    margin-left: 90%;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #FFFFFF;
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 7%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.header {
    margin-bottom: 100px;
    padding: 4px 97px 20px 157px;
    background: #FFFFFF;
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.15);
}
.food_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_logo {
    display: flex;
    align-items: center;
    padding-left: 47px;
}
.burger_block {
    padding-left: 47px;
    margin-top: 19px;
}
.burger_text {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #000000;
}
.header_input {
    display: flex;
    align-items: center;
    max-width: 408px;
    width: 100%;
}
.food_search {
    max-width: 408px;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.15);
    border: none;
    font-size: 22px;
    border-bottom: 2px solid #B5B5B5;
    outline: 0;
    padding: 10px 0;
    /*border: 2px solid #41AA03;*/
    /*transform: rotate(-180deg);*/
}
.header_signin {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 349px;
}
.heart{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.heart_text {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #000000;
}
.basket_info {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #000000;
}
.user_info {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #000000;
}
.basket {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sign {
    display: flex;
    flex-direction: column;
    align-items: center;
}
a{
    text-decoration: none;
}
.client {
    padding: 63px 0 0 32px;
}
.client_link {
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 29px;
    color: #41AA03;
}
.client_title {
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 74px;
    color: #000000;
}

.container_client_info {
    width: 100%;
    max-width: 1842px;
    margin-bottom: 40px;
}
.text {
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 55px;
    color: #B3AFAF;
}
.title {
    font-style: normal;
    font-weight: normal;
    font-size: 52px;
    line-height: 55px;
    color: #000000;
}
.footer {
    margin-top: 44px;
    max-width: 1711px;
    display: flex;
    justify-content: space-between;
    padding: 66px 127px 124px 82px;
    background: #282828;
    border-bottom: 1px solid #B3AFAF;;
}
.footer_info {
    display: flex;
    justify-content: space-between;
    max-width: 1011px;
    width: 100%;
}
.footer_logo {
    width: 100%;
    max-width: 581px;
}
.footer_text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #E5E5E5;
}
.footer_title {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #E9E9E9;
}

.footer_item{
    margin-bottom: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #C4C4C4;
    list-style-type: none;
}
.footer_directory {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #282828;
    padding: 20px 43px 20px 35px;
}
.footer_card{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 26px;
    background: #FFFBFB;
    border-radius: 221px;
    max-width: 343px;
    width: 100%;
}
.footer_social {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 28px;
    max-width: 266px;
    width: 100%;
    background: #FFFBFB;
    border-radius: 221px;
}
.container {
    padding: 50px 32px;
    width: 100%;
    max-width: 672px;
    margin: 0 auto;
    background: #FFFFFF;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.11);
}
.newUser_info {

}
.user_select {
    padding: 5px 518px 11px 14px;
    border-radius: 4px;
    border: none;
    outline: 0;
    background-color: #E9E9E9;
}
.select_text {
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 11px;
    text-align: start;
    color: #AAA9A9;
}
.user_info11 {
    width: 100%;
    max-width: 597px;
    padding: 9px  11px 14px;
    background-color: #E9E9E9;
}
.userOne {
    width: 100%;
    max-width: 254px;
    padding: 20px 19px;
    background: #E9E9E9;
    border-radius: 4px;
    border: none;
    outline: 0;
}
.usertwo {
    width: 100%;
    max-width: 292px;
}
.user_info1,.user_info2,.user_user3 {
    margin-left: -16px;
    margin-right: 36px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.user_info2 {
    margin-bottom: 10px;
}
.user_info1 {
    margin-bottom: 10px;
}
.user_info11 {
    margin-bottom: 10px;
}
.newUser_link {
    margin-top: 40px;
}
.link_info {
    padding: 10px 255px;
    background: #4A8D16;
    box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.1);
    border-radius: 28px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}