@font-face {
    font-family: Arial-AMU;
    src: url("../fonts/Arial-AMU-Regular-8891.ttf");
}
@font-face {
    font-family: Arial-AMU;
    font-weight: bold;
    src: url("../fonts/Arial-AMU-Bold-8892.ttf");
}

/*body*/
/*{*/
/*    max-width: 1920px;*/
/*    width: 100%;*/
/*    box-sizing: border-box;*/
/*    margin: 0 auto;*/
/*}*/
body {
    font-family: Arial-AMU, sans-serif;
}
/*.slick-track {*/
/*    width: 100% !important;*/
/*    max-width: 1650px!important;*/
/*}*/
/*.slider_card{*/
/*    width: 220px !important;*/
/*}*/
.slider .slick-track{
    display: flex;
}
.slider_card {
    margin: 20px;
}

/*.slider_card img:hover {*/
/*    border-radius: 50%;*/
/*    border: 5px solid green;*/
/*}*/
.heart_link_info {
    transform: translate(38px, 19px);

}
/*img {*/
/*    max-width: 100%;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/
.logo_width {
    width: 100%;
    height: 100%;
}
.search_photo1 {
    width: 100%;
    height: 100%;
}
.food_info_card:hover {
    border:3px solid green;
}
.slick_active img:hover {
    border:3px solid green;
    border-radius: 50%;
}
/*.slick-track:hover {*/
/*    border:3px solid green;*/
/*    border-radius: 50%;*/
/*}*/
.food_info_card{
    margin-left: 22px!important;
}
.search_photo1 {
    width: 100%;
    height: 100%;
}
.slick-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header_language {
    padding: 4px 72px;
    background: #E0E0E0;
}
.language_select {
    display: flex;
    width: 100%;
    max-width: 160px;
    align-items: center;
    justify-content: space-around;
    margin-left: 90%;
}
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #FFFFFF;
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 7%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}
.burger_item {
    margin-bottom: 52px;
    padding: 4px 41px;
    max-width: 560px;
    width: 100%;
    display: flex;
    justify-content:right;
}

@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}
.header {
    padding: 4px 97px 20px 157px;
    background: #FFFFFF;
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.15);
}
.fixed {
    position: sticky;
    top: 0;
    z-index: 1000;
}
.food_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_logo {
    display: flex;
    align-items: center;
    padding-left: 47px;
}
.burger_block {
    padding-left: 47px;
    margin-top: 19px;
}
.burger_text {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #000000;
}
.header_input {
    display: flex;
    align-items: center;
    max-width: 408px;
    width: 100%;
}
.food_search {
    max-width: 408px;
    width: 100%;
    background: #FFFFFF;
    border: none;
    font-size: 22px;
    border-bottom: 2px solid #B5B5B5;
    outline: 0;
    padding: 10px 0;
    /*border: 2px solid #41AA03;*/
    /*transform: rotate(-180deg);*/
}
.header_signin {
    display: flex;
    align-items: center;
    padding-left: 35px;
    justify-content: space-between;
    width: 100%;
    max-width: 349px;
}
.heart{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.heart_text {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #000000;
}
.basket_info {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #000000;
}
.user_info {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #000000;
}
.basket {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sign {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.try {
    background-image: url("../img/triangle.png");
    background-repeat: no-repeat;
    /*background-size: contain;*/
    position: absolute;
    width: 100%;
    /*height: 556px;*/
}
.try_info {
padding: 186px 130px 132px 33px;
}
.tri_title {
    max-width: 459px;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 70px;
    color: #FFFFFF;
}
.try_link {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    padding: 10px 18px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 11px;
    text-decoration: none;
}
.slideshow {
    display: flex;
}
.image_food {
    max-width: 479px;
    margin-top: 23px;
    padding-left: 35px;
}
.pizza {
    margin-top: 33px;
}
.stayq {
    object-fit: contain;
}
.footer {
    max-width: 1711px;
    display: flex;
    justify-content: space-between;
    padding: 66px 127px 124px 82px;
    background: #282828;
    border-bottom: 1px solid #B3AFAF;
}
.footer_info {
    display: flex;
    justify-content: space-between;
    max-width: 1011px;
    width: 100%;
}
.footer_logo {
    width: 100%;
    max-width: 581px;
}
.footer_text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #E5E5E5;
}
.footer_title {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #E9E9E9;
}

.footer_item{
    margin-top: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #C4C4C4;
    list-style-type: none;
}
.footer_directory {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #282828;
    padding: 20px 43px 20px 35px;
}
.footer_card{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 26px;
    background: #FFFBFB;
    border-radius: 221px;
    max-width: 343px;
    width: 100%;
}
.footer_social {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 28px;
    max-width: 266px;
    width: 100%;
    background: #FFFBFB;
    border-radius: 221px;
}
.forLunch_show {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    max-width: 1798px;
    margin: 0 auto;
}
.forLunch_page {
    padding: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #358506;
    text-decoration: none;
}
a {
    text-decoration: none;
}

.slick-next, .slick-prev {
    width: 42px;
    height: 42px;
    background: #FFFFFF;
    /*box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.27);*/
    border-radius: 50%;
}

.slick-next:before, .slick-prev:before {
    color: #4A8D16;
    content: "\203A";
    font-family: sans-serif;
    transform: translateY(-10px);
}

.slick-prev:before {
    content: "\2039";
}

.slick-next:before {
    content: "\203A";
}

.slick-dots {
    text-align: center;
    margin: 0 0 10px 0;
    padding: 0;
}
.slick-dots li {
    display: inline-block;
    margin-left: 4px;
    margin-right: 4px;
}
.slick-dots li.slick-active button {
    background-color: black;
}
.slick-dots li button {
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
    background-color: #999;
    border: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.slick-dots li :hover {
    /*background-color: black;*/
}

/* Custom Arrow */
.prev {
    color: #999;
    position: absolute;
    top: 38%;
    left: -2em;
    font-size: 1.5em;
}
.prev :hover {
    cursor: pointer;
    color: black;
}

.next {
    color: #999;
    position: absolute;
    top: 38%;
    right: -2em;
    font-size: 1.5em;
}
.next :hover {
    cursor: pointer;
    color: black;
}

.begin_item {
    background-image: url("../img/makarun.png");
    width: 100%;
    height: auto;
    background-size: auto;
    background-repeat: no-repeat;
    position: relative;
    padding: 38px 0px 28px 10px;
    margin-bottom: 10px;
}
.begin_item1 {
    background-image: url("../img/makarun.png");
    width: 100%;
    height: auto;
    background-size: auto;
    background-repeat: no-repeat;
    position: relative;
    padding: 38px  0px 28px 10px;
}
.begin_link {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    padding: 9px 20px;
    background: #4A8D16;
    border-radius: 31px;
}
.begin_link1 {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    padding: 9px 20px;
    background: #4A8D16;
    border-radius: 31px;
}
.social_text {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;

}
.social_info1{
    margin-bottom: 83px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;

}
.img_height{
    height: 100%;
}

@media screen and (max-width: 800px) {
    .next {
        display: none !important;
    }
}

